.selectnav { display: none; }

#log-panel .button1 {
	display: none;
}

@media screen and (max-width: 767px) {
	a#menupanel {display: block;}
	#menu #nav{ display: none; }
	#menu .selectnav { display: block; width:98%; }
	.selectnav { margin: 3px 1%; }
	.menu-nav {
		display: none;
	}
	#log-panel .button1 {
		display: inline;
		float: none !important;
		margin: 3px;
	}
	a#v_toggle {
		display: none;
	}
}

@media (min-width: 1200px) { 
	.camera_caption h1 {
		font-size: 300%;
		letter-spacing: -1px;
		margin: 4px 0px;
	}
	
	.camera_caption h2 {
		font-size: 250%;
		letter-spacing: 0px;
		margin: 4px 0px;
	}
	
	.camera_caption {
		font-size: 110%;
	}
	
	#search-position .search .inputbox, #search-position .finder .inputbox {
		max-width: 105px;
	}
}


/* Large desktop */

@media (min-width: 980px) and (max-width: 1199px) { 

	.inner {
		padding: 0px 30px;
	}

	.camera_caption h1 {
		font-size: 230%;
		letter-spacing: -1px;
		margin: 4px 0px;
	}
	
	.camera_caption h2 {
		font-size: 140%;
		letter-spacing: 0px;
		margin: 4px 0px;
	}
	
	.camera_caption {
		font-size: 110%;
	}
	
	#search-position .search .inputbox, #search-position .finder .inputbox {
		max-width: 75px;
	}
	
	#menu ul.menu-nav > li > a {
		padding: 15px 7px;
		font-size: 13px;
	}
		
	#menu #nav ul { width: 14.5em !important;}
	#menu #nav ul ul { left: 14.5em !important; }
	
	.total_products {font-size:10px;}
	
	.moduletable_menu ul.menu li a, .moduletable_menu ol.menu li a, ul.latestnews_menu li a, .VMmenu li div a {
		font-size:13px;
		padding-top: 6px !important;
		padding-bottom: 6px !important;
		
	}
	
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

	body {
		font-size: 11px !important;
	}

	h3 {
		font-size: 130%;
	}
	
	.inner {
		padding: 0px 20px;
	}

	.camera_caption h1 {
		font-size: 300%;
		letter-spacing: -1px;
		margin: 4px 0px;
	}
	
	.camera_caption h2 {
		font-size: 250%;
		letter-spacing: 0px;
		margin: 4px 0px;
	}
	
	.camera_caption {
		font-size: 100%;
	}
	
	#top-quick-nav {
		padding-top: 0px;
	}
	
	#social {
		padding: 40px 0px 0px 10px;
	}
	
	#search-position{margin-top:6px;}

	#search-position .search .inputbox, #search-position .finder .inputbox {
		width: 85px;
	}
	
	.total-items {
		position: absolute;
		top: -32px;
		right: 0px;
		width: 70px;
		text-align: right;
	}

	#search-position .search .button {
		text-indent: -9999px;
	}
	
	#search-position .search .advanced-search-button {
		width: 21px;
		text-indent: 9999px;
		font-size:0.01em;
		background-image: url(../images/advanced-search.png);
		background-position: 2px 3px;
		background-repeat: no-repeat;
		overflow: hidden;
		float:left;
	}
	
	#search-position .search .advanced-search-button:hover {
		background-position: 2px -46px;
	}
	
	#menu .menu-nav li {
		padding: 0px 1px 0px 0px;
	}
	
	#menu ul.menu-nav > li > a {
		padding: 15px 7px;
		font-size: 12px;
		font-weight: 400;
		text-transform: none;
	}

	#menu #nav ul { width: 11em !important;}
	#menu #nav ul ul { left: 11em !important; }

	#menu #nav ul li a { font-size: 11px; }
	
	.vmproduct.productdetails .spacer .pr-add { height: 20px; overflow: hidden;}
	
	.category-view .row-fluid .category .spacer h2 a .cat-title {
		padding: 30% 0% 0% 5% !important;
		width: 65% !important;
		height: 70% !important;
		margin-bottom: -1px;
		font-size: 12px;
	}
	
	.category-view .row-fluid:hover .category:hover .spacer h2 a .cat-title {
		padding: 30% 10% 0% 5% !important;
		height: 70% !important;
	}
	
	.moduletable_menu ul.menu li a, .moduletable_menu ol.menu li a, ul.latestnews_menu li a, .VMmenu li div a,
	.button, button, a.button, a.product-details, input.addtocart-button, a.ask-a-question, .highlight-button, .vm-button-correct, span.quantity-controls input.quantity-plus, span.quantity-controls input.quantity-minus {
		font-size: 11px !important;
	}

}


/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 


	.camera_caption h1 {
		font-size: 190%;
		letter-spacing: -1px;
		margin: 4px 0px;
	}
	
	.camera_caption h2 {
		font-size: 120%;
		letter-spacing: 0px;
		margin: 4px 0px;
	}

	ul.vmmanufacturer, .vmmanufacturer li { border: 0px !important; }

	.product-sl-handler ol li.next, .product-sl-handler ol li.prev{
		display: none !important;
	}

	#top, #tab-modules, #bottom-bg, footer#footer, section#bottom-long {
		padding: 5px;
	}
	
	.moduletable, .moduletable_text, .moduletable_style1, .moduletable_style2, .browse-view .row, .moduletable_menu,.spacer,.vmproduct li, .category
	{margin-bottom:5px;}

	.dk_options {
		left: -50%; 
	}
	
	.inner {
		padding: 0px 10px;
	}
	
	#site-name-handler {
		height: auto !important;
	}
	
	#sn-position {
		text-align: center;
	}
	
	#sn-position h1, #sn-position h2 {
		position: static !important;
	}
	
	#top-nav-handler #social { 
		float: none;
		padding: 35px 0px 10px 0px;
	}	
	
	#social-links {
		text-align: center;
	}
	
	#social-links li {
		display: inline;
		background: none;
		margin: 0px;
	}

	#social-links li a {
		display: inline-block;
		float: none;
		margin: 0px 1px;
	}
	
	#top-quick-nav {
		padding-top: 10px;
		float: none;
	}
	
	#log-panel {
		float: none;
		text-align: center;
		margin-bottom: 20px !important;
	}
	
	#quick-menu, #log-panel {
		float: none;
	}
	
	#quick-menu ul { margin-bottom:0px;}
	
	#quick-menu li, #log-panel li {
		display: block;
		margin-bottom: 1px;
		padding:0px !important;
	}
	
	#quick-menu li a, #log-panel li a {
		padding: 5px 10px;
		display: block;
		text-decoration: none;
		text-align: center;
	}
	
	#menu-handler {
		padding: 4px;
	}
	
	#menu-handler .row-fluid > .span8 { 
		float: left;
		width: 40px;
	}
	
	#search-position .search .advanced-search-button {
		width: 21px;
		text-indent: 9999px;
		font-size:0.01em;
		background-image: url(../images/advanced-search.png);
		background-position: 2px 3px;
		background-repeat: no-repeat;
		overflow: hidden;
		float:left;
	}

	.rm-line {
		display: block;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		width: 30%;
		height: 3px;
		margin: 3px 35% 3px 35%;
	}
	
	a#menupanel {
		padding-top: 7px;
		padding-bottom: 7px;
	}
	
	ul.vmproduct.productdetails {
		padding: 0px !important;
	}
	
	ul.vmproduct.productdetails .spacer {
		padding-bottom: 10px;
	}

	#cart, #currency {
		clear: both;
		float: none;
	}
	
	#currency {
		padding: 10px 0px 9px 3px;
	}
	
	#currency input.button { 
		float: none;
	}
	
	#cart .show_cart a#cartpanel, #cart .show_cart a { margin-right: 5px }
	
	#cart .vmCartModule .total_products { padding-left: 10px; }
	
	#bot-modules .span2, #bot-modules-2 .span2 {
		width: 100% !important;
	}
	
	.product-sl-handler ol li.prev, .product-sl-handler ol li.next { display: none; }

	.vmproduct.productdetails .spacer .pr-add { height: auto; }
	
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 

	#site-name-handler {
		height: auto !important;
	}
	
	#sn-position {
		text-align: center;
	}
	
	#sn-position h1, #sn-position h2 {
		position: static !important;
	}
	
	#top-nav-handler #social { 
		float: none;
		padding: 35px 0px 10px 0px;
	}
	
	#social-links {
		text-align: center;
	}
	
	#social-links li {
		display: inline;
		background: none;
		margin: 0px;
	}

	#social-links li a {
		display: inline-block;
		float: none;
		margin: 0px 1px;
	}
	
	.inner {
		padding: 0px 5px;
	}

	#search-position .search .inputbox, #search-position .finder .inputbox {
		max-width: 100px;
	}

	#foo-left-right .span6 p {
		text-align: center !important;
	}

	.camera_pag {
		bottom: 6% !important;
	}

}


@media (max-width: 410px) { 
	#search-position .search {width:98%;clear:both;margin:4px 0px;}
	#search-position form {float:none;padding:0px;}
	#search-position .search .advanced-search-button{float:right;}
	a#menupanel{margin-bottom: 3px;}
}