.clr{clear:both;overflow:hidden;}
.general-bg,input.custom-attribute,input.quantity-input,.manufacturer-product-link a,input.vm-default,a.details,div.details,button.default{background:#e8e8e8 url(../images/vmgeneral/backgrounds.png) top repeat-x;border:solid #CAC9C9 1px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;color:#777;text-decoration:none;padding:5px 5px 4px;}
span.custom-variant-inputbox input.custom-attribute:hover,span.quantity-box input.quantity-input:hover,input.vm-default:hover,span.quantity-box input.quantity-input:hover,.ask-a-question-view input.counter:hover,.ask-a-question-view input#email:hover,table.user-details input:hover,a.details:hover,div.details:hover,button.default:hover{background:#e8e8e8 url(../images/vmgeneral/backgrounds.png) repeat-x;background-position:0 -40px;color:#000;text-decoration:none;}
.productdetails-view .spacer-buy-area{}

.cart-summary fieldset label {
	display: inline;
}

.product-cart-row {
	padding: 5px 0px;
}

#cart .vm_cart_products  {
	padding: 0px 20px;
	height: 230px;
	overflow-y: auto;
}

.cartpanel .show-cart-link a {
	text-transform: uppercase;
	font-weight: 600;
}

.show-total-items {
	line-height: 34px;
	margin-right: 7px;
}

.total_products { line-height: 34px;}

.PricebasePriceVariant { white-space: nowrap; }

.product-cart-row {
	border-bottom: 1px solid rgba(255,255,255,0.3);
	padding: 5px 0px;
}

.product-neighbours{color:#777;padding:0 0 15px;}

.product-neighbours, .product-neighbours a  {
	-moz-transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	-ms-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.product-neighbours {
	-webkit-transition-property: opacity;
	-ms-transition-property: bopacity;
	-o-transition-property: opacity;
	-moz-transition-property: opacity;
	transition-property: opacity;
	opacity: .8;
	-webkit-backface-visibility: hidden;
}

.product-neighbours:hover {
	opacity: 1.0;
}

.product-neighbours a {
	-moz-transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	-ms-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-property: background-position, padding;
	-ms-transition-property: background-position, padding;
	-o-transition-property: background-position, padding;
	-moz-transition-property: background-position, padding;
	transition-property: background-position, padding;
	width: 36px;
	height: 36px;
	font-size:0.01em;
	text-indent:99999px;
	overflow:hidden;
	
	
}

.product-neighbours a.previous-page{background:url(../images/arrow-prev.png) no-repeat 0px 0px;padding: 0px;float:left;}
.product-neighbours a.previous-page:hover {}

.product-neighbours a.next-page{background:url(../images/arrow-next.png) no-repeat 0% 1px;padding: 0px;float:right;}
.product-neighbours a.next-page:hover {}


.productdetails-view h1{font-size:22px;margin:0 0 6px;padding:0;}
.productdetails-view.productdetails h1 a {
	display: inline;
	float: right;
}

.productdetails-view .product-short-description{margin: 4px 0px 10px 0 !important; text-align: left; }

.productdetails-view .product-short-description .module-arrow {
	position: absolute;
}

.product-additional-nav {
	margin-bottom: 10px;
	padding-bottom: 9px;
}

.back-to-category {
	line-height: 40px;
}

.productdetails-view .product-description,.product-fields{margin:15px 0 5px 0px;}
span.title{display:block;margin:0 0 6px;}
.product-packaging{margin:15px 0 0;}
.icons{text-align:right; float:right;}
.icons a {
	margin-left: 4px;
}

.additional-images img{margin-right:8px;width:50px;height:auto;}

.spacer-buy-area .product-price .PricesalesPrice {
	font: 700 100%/120% "Ubuntu", Arial, Helvetica, sans-serif;
	padding: 10px 0px;
}

.spacer-buy-area .product-price .PricesalesPrice span {
	letter-spacing: -1px;
	font-size: 250%;
}

.product-fields-title, .product-fields-title-wrapper { vertical-align: middle; }
.product-field-desc {
	display: block;
}

.price-crossed div.PricebasePriceWithTax .PricebasePriceWithTax{text-decoration: line-through;}
.productdetails-view .addtocart-bar{margin:0;padding:0px;}
.availability{text-align:right;margin:10px 0px;}
.customer-reviews h4{margin:0 0 10px;padding:0 0 6px;}
.write-reviews{margin:20px 0 0;}
.write-reviews h4{text-align:left;}
.write-reviews h4 span{font: bold 12px Arial, Helvetica, sans-serif;margin-left:8px;}
.write-reviews span.step{font-weight:700;display:inline-block;margin:0 0 8px;}
.write-reviews ul.rating{text-align:center;margin:0 0 20px;padding:0;}
.write-reviews ul.rating li{display:inline-block;list-style:none;text-align:center;padding:0 5px;}
.write-reviews ul.rating li span{display:block;}
.write-reviews textarea.virtuemart{margin-bottom:6px;display:inline-block;}
.list-reviews .normal{margin-bottom:8px;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;padding:12px;background-color: rgba(0,0,0,0.04);border: 1px solid rgba(0,0,0,0.05);}
.list-reviews .normal blockquote,.list-reviews .highlight blockquote{margin-top:12px;font-size:12px;word-wrap:break-word;}
.list-reviews .highlight{font-weight:normal;margin-bottom:8px;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;padding:12px;background-color: rgba(0,0,0,0.07);}

.list-reviews span.date{float:right;display:block;position:relative;top:-12px;right:-12px;font-size:10px;padding:4px 6px 2px;}

span.variant-dropdown{width:150px;float:left;display:block;margin-bottom:5px;}
span.variant-dropdown select{width:150px;}
span.custom-variant-inputbox{width:152px;float:left;display:block;margin-bottom:5px;}
input.custom-attribute{width:140px;}
span.quantity-box{float:left;width:27px;padding-top:2px;}
input.quantity-input{height:32px;width:25px;text-align:center;font-weight:700;padding:2px;}
span.quantity-controls{width:24px;float:left;padding-top:1px;margin:0 0 0 5px;}

span.quantity-controls input.quantity-controls{line-height:17px;height:17px;border:none;width:24px;margin:0px !important;padding:0px;font-size: 14px;font-weight:bold;}

span.quantity-controls input.quantity-plus{	

}
span.quantity-controls input.quantity-minus{
	margin-top:-5px !important;
}

.addtocart-bar{margin:0;padding:0;}
span.addtocart-button{float:left;margin:4px 0 0 5px;}
span.cart-images img {
    float: left;
    margin: 0;
    width: 45px;
}
span.addtocart-button input.notify-button{width:152px;background:#e8e8e8 url(../images/vmgeneral/backgrounds.png) top repeat-x;background-position:0 -160px;color:#fff;border:solid #00a000 1px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;font-size:14px;cursor:pointer;height:34px;text-align:center;letter-spacing:1px;padding:4px 5px;}
span.addtocart-button input.addtocart-button-disabled {width:auto;background:#f2f2f2 top repeat-x;border:solid #333 1px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;font-size:14px;cursor:pointer;height:34px;text-align:center;letter-spacing:1px;padding:4px 5px;color:#333;margin:10px 0px 0px 0px;}

.spacer h2 {
	letter-spacing: -1px;
}

.spacer h2 a, .spacer h2 a:hover {
	text-decoration: none;
}

.category-view .row .category .spacer h2{margin:0;padding:0;}
.category-view .row .category .spacer h2 a{font-size:14px;display:block;text-align:center;}
.category-view .row .category .spacer h2 a img{margin-top:6px;max-width:100%;height:auto;}

.orderby-displaynumber{border-bottom:1px solid rgba(0,0,0,0.1);border-top:1px solid rgba(0,0,0,0.1);margin:10px 0;padding:10px 0;}
.orderlistcontainer{font-size:12px;display:inline-block;text-decoration:none;margin:0 15px 0 0;}
.orderlistcontainer div.activeOrder{background: rgba(255,255,255,0.7) 100% 4px no-repeat url(../images/vmgeneral/arrow_down.png);cursor:pointer;border:solid rgba(0,0,0,0.2) 1px;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;font-size:12px;padding:2px 24px 1px 12px;}
.orderlistcontainer a{text-decoration:none;display:block;}
.orderlistcontainer a :hover{text-decoration:none;display:block;color:#EEE;background:#777;}
.orderlistcontainer div.orderlist{display:none;position:absolute;border:solid rgba(0,0,0,0.2) 1px;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;background:rgba(255,255,255,0.8);cursor:pointer;}
.orderlistcontainer div.orderlist div{padding:2px 12px 1px;}
.orderlistcontainer div.orderlist div:hover{color:#EEE;background:#CAC9C9;}

.ask-a-question-view .product-summary{border-bottom:solid #cccccc 1px;margin:25px 0 0;padding:0 0 10px;}
.ask-a-question-view .product-summary h2{font-size:16px;margin:0;padding:0;}
.ask-a-question-view .product-summary .short-description{margin-top:6px;}
.ask-a-question-view .product-summary img.product-image{max-width:100%;max-height:100%;width:auto;height:auto;}
.ask-a-question-view .form-field textarea.field{width:394px;background:#fff url(../images/vmgeneral/default_bg.jpg) bottom repeat-x;border:solid #CAC9C9 1px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;color:#777;text-align:left;padding:12px;}
.ask-a-question-view .form-field textarea.field:hover{background:#fff url(../images/vmgeneral/default_hover_bg.jpg) top repeat-x;color:#000;}
.ask-a-question-view .form-field .submit{ }
.ask-a-question-view .counter { width: auto !important; }

.vmquote{font-size:smaller;}
.manufacturer-details-view img{float:right;margin:0 0 10px 20px;}
.manufacturer-details-view .email-weblink a{margin-right:15px;}
a.ask-a-question{margin-bottom:8px;}
a.ask-a-question:hover{color:#777;text-decoration:none;}
input.vm-default{margin-bottom:2px;}

.write-reviews input.vm-default, .write-reviews input.vm-default:hover {
	width: 50px;
	font-size: 12px;
	font-weight: bold;
}

a.details,div.details{background-position:0 0;display:inline-block;padding:3px 8px 1px;}
a.details:hover,div.details:hover{background-position:0 -40px;color:#777;}
span.details-button{ margin:0 0 0 10px;}
span.details-button input.details-button { background: url("../images/vmgeneral/backgrounds.png") repeat-x scroll center top #E8E8E8;color:#135CAE;border:1px solid #CAC9C9 ;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;cursor:pointer; text-align:center;padding:3px 8px 1px;}
.coupon{color: gray;  border-radius:4px; font-size: 9px;padding: 3px;width: auto;}
button.default{display:inline-block;cursor:pointer;padding:5px 8px 4px;}
button.default:hover{color:#777;}
a.highlight,a.highlight:visited{background:#e8e8e8 url(../images/vmgeneral/backgrounds.png) top repeat-x;border:solid #00a000 1px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;font-size:12px;display:inline-block;text-decoration:none;background-position:0 -160px;color:#fff;padding:3px 8px 1px;}

p.product_s_desc{margin-bottom:6px;padding:0;}
span.stock-level{font-size:10px;}

.h-pr-details .vmicon {margin: 0px auto !important; }

.horizontal-separator{height:1px;margin:10px 0;}
.invalid{color:#000;border-color:red;}
.page-results{margin-top:25px;text-align:right;}
.control-buttons button.default{margin-left:8px;}
table.user-details input{margin-bottom:2px;padding:5px 5px 4px; width:60%}
table.user-details input:hover { background: inherit !important; }
table.user-details input.invalid{margin-bottom:2px;padding:5px 5px 4px;}
table.user-details{margin-bottom:25px;}
table.user-details input[type="checkbox"] , table.user-details input[type="radio"] {width:20px}

.div-table-seperator {padding: 5px 0px; }

.userfields_info {
	display: block;
	padding: 15px 0px 5px 0px;
}

td.key{padding:0 6px; width: 150px;}
.cart-view h1{font-size:20px;margin:0;padding:0 0 10px;}
.cart-view h2{font-size:12px;margin:0;padding:0;}
.checkout-button-top{text-align:right;padding:10px 0;margin:10px 0px;}
.checkout-button-top input.terms-of-service{margin-right:10px;display:inline-block;}
span.tos{display:inline-block;margin-right:15px;}
.billto-shipto{margin:10px 0 0;padding:10px 0 25px;}
.billto-shipto span,a.terms-of-service{display:inline-block;font-size:14px;}
#full-tos {display: none;}
.output-billto span.titles,.output-shipto span.titles{width:150px;float:left;}
.output-billto span.values-first_name,.output-billto span.values-middle_name,.output-billto span.values-zip,.output-shipto span.values-first_name,.output-shipto span.values-middle_name,.output-shipto span.values-zip{float:left;margin-right:3px;}
table.cart-summary tr th{background:#e8e8e8 url(../images/vmgeneral/backgrounds.png) top repeat-x;border-bottom:solid #E9E8E8 1px;padding:6px 0 3px;}
.customer-comment{ margin:10px 0 0;padding:10px 0 0;}
textarea.customer-comment{margin-bottom:2px;text-align:left;padding:5px 5px 4px;height:60px;width:90%;}
div.terms-of-service{ margin:10px 0 0;padding:10px 0 15px; display : inline;}
.terms-of-service h5{background:#7C1E21;color:rgba(255, 255, 255, 0.9);font-size:14px;text-align:center;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;font-weight:400;margin:0;padding:15px;}
.terms-of-service h5 a,.terms-of-service h5 a:visited{color:#fff;text-transform:uppercase;}

ul.VMmenu,.VMmenu ul,.VMmenu li{list-style-type:none!important;background-image:none!important;padding:0px;}
.VMmenu li div {
	position: relative;
}
.VmArrowdown{
	background: 50% 50% no-repeat url(../images/vmgeneral/arrow_down.png);
	cursor: pointer;
	float: right;
	width: 22px;
	height: 22px;
	padding: 0;
	position: absolute;
	right: 6px;
	top: 7px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	-ms-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-transition-property: background-color !important;
	-ms-transition-property: background-color !important;
	-o-transition-property: background-color !important;
	-moz-transition-property: background-color !important;
	transition-property: background-color !important;
}

.VmOpen ul {
	padding: 0px;
	margin: 0px;
}

#ui-tabs ul#tabs{list-style-type:none;overflow:hidden;margin:0;padding:20px 20px 0;}
#ui-tabs ul#tabs li{display:inline-block;cursor:pointer;background:#f2f2f2;padding:10px 20px 7px;}
#ui-tabs ul#tabs li.current{display:inline-block;background:#ccc;color:#444;}
#ui-tabs .tabs{padding:20px;}
#ui-tabs .dyn-tabs{overflow:auto;display:none;}
.clear,br.clear{clear:both;}
.floatright,span.floatright{float:right;}
.floatleft,span.floatleft{float:left;}
li.floatleft {
	padding: 0px;
}

.vmproduct.productdetails {
	margin-bottom: 15px; 
}

ul.vmproduct.productdetails {
	margin: 0;
	padding: 0 0px 15px 0px;
}

ul.vmproduct.productdetails li.span12 {
	margin: 0px;
	padding: 0px;
	background: none;
}

span.bold{font-weight:700;}

.width1{width:1%;}.width2{width:2%;}.width3{width:3%;}.width4{width:4%;}.width5{width:5%;}.width6{width:6%;}.width7{width:7%;}.width8{width:8%;}.width9{width:9%;}.width10{width:10%;}.width11{width:11%;}.width12{width:12%;}.width13{width:13%;}.width14{width:14%;}.width15{width:15%;}.width16{width:16%;}.width17{width:17%;}.width18{width:18%;}.width19{width:19%;}.width20{width:20%;}.width21{width:21%;}.width22{width:22%;}.width23{width:23%;}.width24{width:24%;}.width25{width:25%;}.width26{width:26%;}.width27{width:27%;}.width28{width:28%;}.width29{width:29%;}.width30{width:30%;}.width31{width:31%;}.width32{width:32%;}.width33{width:33%;}.width34{width:34%;}.width35{width:35%;}.width36{width:36%;}.width37{width:37%;}.width38{width:38%;}.width39{width:39%;}.width40{width:40%;}.width41{width:41%;}.width42{width:42%;}.width43{width:43%;}.width44{width:44%;}.width45{width:45%;}.width46{width:46%;}.width47{width:47%;}.width48{width:48%;}.width49{width:49%;}.width50{width:50%;}.width51{width:51%;}.width52{width:52%;}.width53{width:53%;}.width54{width:54%;}.width55{width:55%;}.width56{width:56%;}.width57{width:57%;}.width58{width:58%;}.width59{width:59%;}.width60{width:60%;}.width61{width:61%;}.width62{width:62%;}.width63{width:63%;}.width64{width:64%;}.width65{width:65%;}.width66{width:66%;}.width67{width:67%;}.width68{width:68%;}.width69{width:69%;}.width70{width:70%;}.width71{width:71%;}.width72{width:72%;}.width73{width:73%;}.width74{width:74%;}.width75{width:75%;}.width76{width:76%;}.width77{width:77%;}.width78{width:78%;}.width79{width:79%;}.width81{width:81%;}.width82{width:82%;}.width83{width:83%;}.width84{width:84%;}.width85{width:85%;}.width86{width:86%;}.width87{width:87%;}.width88{width:88%;}.width89{width:89%;}.width90{width:90%;}.width91{width:91%;}.width92{width:92%;}.width93{width:93%;}.width94{width:94%;}.width95{width:95%;}.width96{width:96%;}.width97{width:97%;}.width98{width:98%;}.width99{width:99%;}.width100{width:100%;}


.vmicon, .vmiconFE{background:url(../images/vm2-sprite.png) no-repeat top left;}
.vm2-add_quantity_cart{background-position: 0 0;width: 28px !important;height: 26px;border: 0px;cursor: pointer;}
.vm2-arrow_down{background-position:0 -72px;width:16px;height:16px;}
.vm2-billto-icon{background-position:0 -138px;height:28px;margin-right:6px;vertical-align:middle;width:28px;border :0px;}
.vm2-remove_from_cart{background-position: 0 -212px;border: 0 none;cursor: pointer;display: inline-block;height: 32px;vertical-align: bottom;width: 26px;}
.vm2-shipto-icon{background-position:0 -284px;height:28px;margin-right:6px;vertical-align:middle;width:28px;}

.cart-summary form.inline input.inputbox { width: 30px !important; }

.vm2-stars0{background-position:0 -358px;width:64px;height:13px;}
.vm2-stars1{background-position:0 -421px;width:64px;height:13px;}
.vm2-stars2{background-position:0 -484px;width:64px;height:13px;}
.vm2-stars3{background-position:0 -547px;width:64px;height:13px;}
.vm2-stars4{background-position:0 -610px;width:64px;height:13px;}
.vm2-stars5{background-position:0 -673px;width:64px;height:13px;}
.vm2-stars_0{background-position:0 -736px;width:64px;height:13px;}
.vm2-stars_1{background-position:0 -799px;width:64px;height:13px;}
.vm2-stars_2{background-position:0 -862px;width:64px;height:13px;}
.vm2-stars_3{background-position:0 -925px;width:64px;height:13px;}
.vm2-stars_4{background-position:0 -988px;width:64px;height:13px;}
.vm2-stars_5{background-position:0 -1051px;width:64px;height:13px;}
.vm2-lowstock{background-position:0 -1114px;width:62px;height:15px;display:block;}
.vm2-nostock{background-position:0 -1179px;width:62px;height:15px;display:block;}
.vm2-normalstock{background-position:0 -1244px;width:62px;height:15px;display:block;}
.vm2-termsofservice-icon{background-position:0 -1309px;height:26px;margin-right:6px;vertical-align:middle;width:26px;display:inline-block;}
#tosAccepted { margin: 0px 10px 0px 0px !important; }
.vm2-modallink{height:16px;margin-left: 3px;vertical-align:top;width:16px;display:inline-block; background: url("../images/icon_external_link.gif") no-repeat scroll left top transparent;}
.vm2-warning{background-position:0 -1383px;width:50px;height:40px;}
.vendor-store-desc,.category-view,.featured-view,.latest-view,.topten-view,.recent-view,.related-products-view,.browse-view,.order-view{margin-bottom:25px;clear:both;}
.main-image,.featured-view .product,.latest-view .product,.topten-view .product,.recent-view .product,.related-products-view .product,.center,span.center{text-align:center;}

.category_description { clear: both; }

.productdetails-view.productdetails .main-image {
	padding: 10px 0px;
}

.product-field-display select {
	line-height: 26px;
}

.vmproduct li { background-image: none; }

.button.addto-cart-link {
	background-image: url('../images/add-to-cart-button.png');
	background-repeat: no-repeat;
	background-position: 5px 4px;
	text-indent: -99999px;
	float: right;
	width: 32px;
	height: 32px;
	padding: 0px;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	-ms-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-transition-property: background-position !important;
	-ms-transition-property: background-position !important;
	-o-transition-property: background-position !important;
	-moz-transition-property: background-position !important;
	transition-property: background-position !important;
}

.category-view .spacer:hover .button.addto-cart-link,
.latest-view .spacer:hover .button.addto-cart-link,
.topten-view .spacer:hover .button.addto-cart-link,
.recent-view .spacer:hover .button.addto-cart-link,
.featured-view .spacer:hover .button.addto-cart-link,
.vmproduct.productdetails .spacer:hover .button.addto-cart-link,
.browse-view .spacer:hover .button.addto-cart-link {
	background-position: 5px -59px;
}

.category-view .spacer:hover .button.addto-cart-link:hover, 
.latest-view .spacer:hover .button.addto-cart-link:hover, 
.topten-view .spacer:hover .button.addto-cart-link:hover, 
.recent-view .spacer:hover .button.addto-cart-link:hover, 
.featured-view .spacer:hover .button.addto-cart-link:hover,
.vmproduct.productdetails .spacer:hover .button.addto-cart-link:hover, 
.browse-view .spacer:hover .button.addto-cart-link:hover {
	background-position: 5px -123px;
}

.latest-view .spacer, 
.topten-view .spacer, 
.recent-view .spacer, 
.featured-view .spacer, 
.vmproduct.productdetails .spacer, 
.browse-view .spacer {
	text-align: center;
	padding: 20px;
}



.vmproduct.productdetails .spacer .product-price, .h-pr-details .product-price {
	border: 0 !important;
}

.vmproduct.productdetails .spacer .product-price .PricesalesPrice {
	font: 700 14px/18px "Ubuntu", Arial, Helvetica, sans-serif;
}

.pr-add {
	text-align: left;
	padding: 5px 15px;
}

.pr-add-bottom,
.featured-view .spacer h3, .latest-view .spacer h3, .topten-view .spacer h3, .recent-view .spacer h3, .related-products-view .spacer h3, .browse-view .product .spacer h2,
.featured-view .spacer .product_s_desc, .latest-view .spacer .product_s_desc, .topten-view .spacer .product_s_desc, .recent-view .spacer .product_s_desc, .related-products-view .spacer .product_s_desc, .browse-view .product .spacer .product_s_desc,
.h-pr-title {
	padding: 12px 10px 5px 10px !important;
}

.browse-view .product .spacer h2,
.featured-view .spacer .product_s_desc, .latest-view .spacer .product_s_desc, .topten-view .spacer .product_s_desc, .recent-view .spacer .product_s_desc, .related-products-view .spacer .product_s_desc, .browse-view .product .spacer .product_s_desc {
	margin: 2px 0px 0px 0px !important;
}

.pr-add-bottom .product-price {
	padding: 6px 0px;
}

.pr-add a {
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	-ms-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-transition-property: color;
	-ms-transition-property: color;
	-o-transition-property: color;
	-moz-transition-property: color;
	transition-property: color;
}

.pr-add a, .pr-add a:hover {
	text-decoration: none;
}

.pr-add-left {
	float: left;
	text-align: left;
}

.pr-add-left .PricesalesPrice, .pr-add-left .go-to-product {
	text-align: left;
}

.pr-add-left .product-price {
	margin: 0px;
}

.pr-add-right {
	float: right;
}

.productdetails-view.productdetails .category-view {
	margin: 25px 0px;
}

.main-image img.product-image,.featured-view .spacer img,.latest-view .spacer img,.topten-view .spacer img,.recent-view .spacer img{max-width:100%;height:auto;width:auto;}

.additional-images,.output-billto,.output-shipto{margin:10px 0;}

.ask-a-question,.manufacturer,.manufacturer-details-view .email-weblink,.manufacturer-details-view .description{margin:10px 0 0;}
.customer-reviews,.ask-a-question-view .form-field{margin:25px 0 0;}
span.variant-name,span.custom-variant-name{width:100px;float:left;display:block;margin-bottom:5px;}
span.addtocart-button input.addtocart-button:hover,span.addtocart-button input.notify-button:hover,input.highlight-button:hover,a.highlight:hover{color:#f2f2f2;}
span.addtocart-button input.addtocart-button{height:35px;}


.category-view .spacer .spacer-handler, .latest-view .spacer .spacer-handler, .topten-view .spacer .spacer-handler, .recent-view .spacer .spacer-handler, .featured-view .spacer .spacer-handler, .vmproduct .spacer .spacer-handler, .browse-view .spacer .spacer-handler {
	margin: 0px 0px 0px 0px !important;
	text-align: center;

	height: 100%;
}

.row-fluid .product {
	margin-bottom: 15px;
}

.spacer h3,.browse-view .spacer h2, .browse-view h1, .manufacturer-details-view h1{
	letter-spacing:0px;
	font-size:110%;
	margin:1px;
	text-transform:uppercase;
	font-weight:700;
	letter-spacing: -1px;
}

.featured-view .spacer h3 a,.latest-view .spacer h3 a,.topten-view .spacer h3 a,.recent-view .spacer h3 a,.related-products-view .spacer h3 a,.browse-view .row .product .spacer h2 a {
	text-decoration: none;
}

.browse-view h1, .manufacturer-details-view h1 {
	padding: 15px 0px;
}

.product-price {
	font-size: 85%;
	margin: 0px 0px 20px 0px;
}

span.PricesalesPrice {
	font-size: 125%;
	font-weight: 700;
}

.featured-view .spacer span,.latest-view .spacer span,.topten-view .spacer span,.recent-view .spacer span,.related-products-view .spacer span,.browse-view .row .product .spacer span{ }
.browse-view .row .product .spacer img,.related-products-view .row .product .spacer img{max-width:90%;height:auto;}
.display-number,.right{text-align:right !important;}
.ask-a-question-view,.manufacturer-details-view .spacer{padding:30px;}
.ask-a-question-view h1 {font-size:18px;margin:0;padding:0;}
#userForm select,.width80{width:61%;}
.manufacturer-product-link {display:none;}

.manufacturer-email { padding:3px 0px 3px 22px; background: url(../images/email.png) no-repeat 0px 50%;}
.manufacturer-url { padding:3px 0px 3px 22px; background: url(../images/weblink.png) no-repeat 0px 50%;}
.manufacturer-description {padding: 3px 0px }

ul.vmmanufacturer {
	padding:0px;
	margin: 0px;
}

.man-sp-handle {
	text-align: center;
	padding: 10px 10px;
}

.man-main-handler [class*="vmmanufacturer"]:first-child {
	border-top: 0px;
}

.man-main-handler {
	padding: 15px 0px;
}

ul.vmmanufacturer li:last-child { border-right: 0px; }


ul.vmmanufacturer {
	border-top: 1px solid red;
}

ul.vmmanufacturer li {
	border-right: 1px solid red;
}

.man-main-handler img {
	opacity: 0.5;
	-moz-transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	-ms-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-property: opacity !important;
	-ms-transition-property: opacity !important;
	-o-transition-property: opacity !important;
	-moz-transition-property: opacity !important;
	transition-property: opacity !important;
	-webkit-backface-visibility: hidden;
}

.man-main-handler img:hover {
	opacity: 1.0;
}


label.invalid,span.red{color:red;}
.output-billto span.values,.output-shipto span.values,.floatleft,span.floatleft{float:left;}
.output-billto span.values,.output-shipto span.values {padding-right:5px;}
.joomlaCoreField {background-color: #FFFFDD;}

.display-number select {
	width: auto;
}

.vm-pagination {
	clear: both;
	padding: 10px 0px;
}

.vm-pagination div{ }
.vm-pagination ul{padding:0px; margin: 0px; float:left;}
.vm-pagination ul li{display: inline;background: none;}
.vm-pagination  .counter{text-align: right !important;}


.vm-pagination ul > li > a, .vm-pagination ul > li > span {
	float: left;
	padding: 10px 16px;
	line-height: 20px;
	background-color: rgba(0,0,0,0.1);
	color: rgba(0,0,0,0.5);
	border: 0px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.vm-pagination ul li {
	background: none !important;
	display: block;
	float: left;
	padding: 0 4px 4px 0 !important;
	margin: 0px;
}

.vm-pagination ul li a {
	font-weight: bold;
	padding: 10px 16px;
	display: block;
	float: left;
	cursor: pointer;
	vertical-align: middle;
	text-transform: none !important;
	text-decoration: none;
	font-size: 12px;
	border: 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-moz-transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	-ms-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-property: background-color !important;
	-ms-transition-property: background-color !important;
	-o-transition-property: background-color !important;
	-moz-transition-property: background-color !important;
	transition-property: background-color !important;
}


.vm-bottom div{text-align:center !important;}
.vm-bottom ul{text-align:center !important;}
.vm-bottom ul li{display: inline;}
.vm-bottom  .counter{text-align: right !important;}

td.orders-key{font-weight: bold; text-align: left; }

/* Manufacturer View Default */
.manufacturer-view-default .row .manufacturer .spacer {padding: 6px;}
.product-field-display a img{display: block;}
.product-related-products, .product-related-categories{border-top:solid #ccc 1px;padding-bottom: 10px;}
.product-fields .product-field-type-P{clear: both; border-bottom: 1px solid #EEEEEE; margin-top: 18px;}
.product-field-type-P .product-fields-title{ font-size: 120%;}
.product-field-type-B,.product-field-type-S,.product-field-type-I{padding-left:3%;float:left;width:30%}
.product-fields-title{ font-weight: bold;}

.product-field {
	padding-bottom: 10px !important;
}

.product-fields-title-wrapper {
	line-height: 30px;
}

.vm-customfield-mod img,.vm-customfield-cart img{ vertical-align: middle; width: 16px;}
.vm-img-desc{display:block;}
.vmpayment_name, .vmpayment_cost, .vmshipment_name, .vmshipment_cost{padding:0 2px;}
.vmpayment_description,.vmshipment_description {color:gray;font-size:9px;padding:0 2px;}
.vmpayment_cardinfo {color:gray;font-size:9px;}
.virtuemart_search .inputbox{vertical-align :middle}
/* Custom Field Images */
.product-fields .product-field,.product-related-categories .product-field{
width: auto;
float: none;
display: block;
margin-bottom: 5px;
padding: 0px 0px 5px 0px;
}

.product-fields .product-field label.other-customfield {width:25%;float:left;position:relative;top:20px;left:-18px;margin-bottom:27px;text-align:center;}  /* For 4 images across use width:17% */
.product-fields .product-field input[type=radio] {position:relative;left:33px;}
.product-fields .product-field .vm-img-desc {font-size:9px;}

.span6.floatleft span.vote {
	display: block;
	text-align: center;
	height: 24px;
	line-height: 24px;
	vertical-align: top;
}

.quantity-input.js-recalculate {
	padding: 0px;
	background: #ffffff !important;
	-webkit-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	border-radius: 3px !important;
}

/* some more styles */
.priceColor2{color:gray;}
.line-through{text-decoration:line-through}
.inline{display: inline;}
td.pricePad{padding-right: 10px;}
td.priceCol{white-space:nowrap;}
div.spaceStyle{padding: 0px; margin: 5px; spacing: 0px;}
.vm-notice{color: #CC0000;}
.buttonBar-right{text-align: right; width: 100%;}
.userfields_info{font-weight: 300;font-size:18px;}
.ratingbox {
	position:relative;
	display:block;
	width:120px;
	height:24px;
	background:url("../images/color-stars.png") repeat-x scroll 0 bottom transparent;
	cursor: pointer;
}
.ratingbox span {
	background:url(../images/color-stars.png) repeat-x;
	display:block;
	width:1%;
	height:24px;
	position:absolute;
	cursor: pointer;
}
.stars-orange{background-position:0 0 !important;}
.stars-red{background-position:0 -54px !important;}
.stars-green{background-position:0 -108px !important; }
.stars-blue{background-position:0 -162px !important;}
.stars-purple{background-position:0 -216px !important;}

#com-form-login-remember label {display: inline; }
.billto-shipto.row-fluid .span6 {
	padding-bottom: 10px;
}

.vm-button-correct, .vm-button-correct:hover {
	border: none;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	-ms-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-transition-property: background-color;
	-ms-transition-property: background-color;
	-o-transition-property: background-color;
	-moz-transition-property: background-color;
	transition-property: background-color;
}

/* Products Slider*/

.sl-item-0 { margin-left: 0 !important; }

.product-sl-handler{position:relative;}
.product-sl-handler ol {
	position:absolute;
	text-align:right;
	margin: 0px !important;
	padding: 0px !important;
	top:-35px;
	width:100%;
}
.product-sl-handler ol li {
	background-color: rgba(0,0,0,0.20);
	text-align: left;
	list-style: none;
	cursor: pointer;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	cursor: pointer;
	display: inline-block;
	height: 12px;
	margin: 0px 3px;
	position: relative;
	text-indent: -9999px;
	width: 12px;
}

.product-sl-handler ol li.prev {
	background: url(../images/arrow-prev.png) no-repeat 0px 0px !important;
	display: block;
	height: 36px;
	width: 36px;
	left: -15px;
}

.product-sl-handler ol li.next {
	background: url(../images/arrow-next.png) no-repeat 0px 0px !important;
	display: block;
	height: 36px;
	width: 36px;
	right: -15px;
}

.product-sl-handler ol li.prev, .product-sl-handler ol li.next {
	-webkit-border-radius: 0%;
	-moz-border-radius: 0%;
	border-radius: 0%;
	border: 0 !important;
	margin: 0px !important;
	display: block;
	height: 36px !important;
	width: 36px !important;
	opacity: 0;
}

.product-sl-handler:hover ol li.prev, .product-sl-handler:hover ol li.next {
	opacity: 1;
}

.category-view .row-fluid .category img,
.row-fluid .spacer img {
	-webkit-backface-visibility: hidden;
}


.category-view .row-fluid .category,
.row-fluid .spacer,
.browse-view .spacer {
	opacity: 1;
	-moz-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: opacity, -webkit-filter;
	-ms-transition-property: opacity;
	-o-transition-property: opacity;
	-moz-transition-property: opacity;
	transition-property: opacity, -webkit-filter;
}

.category-view .row-fluid:hover .category,
.productdetails.row-fluid:hover .spacer,
.featured-view .row-fluid:hover .spacer,
.latest-view .row-fluid:hover .spacer,
.browse-view:hover .spacer
 {
	opacity: 0.5;
	-webkit-filter: blur(2px);
}

.category-view .row-fluid:hover .category:hover,
.productdetails.row-fluid:hover .spacer:hover,
.featured-view .row-fluid:hover .spacer:hover,
.latest-view .row-fluid:hover .spacer:hover,
.browse-view:hover .spacer:hover {
	opacity: 1;
	-webkit-filter: blur(0px);
}

.category .spacer {
	padding: 4px;
}

.category .spacer h2 a {
	position: relative;
}

.category .cat-title {
	display: block;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: -1px;
	text-transform: uppercase;
}

.category-view .row-fluid .category .spacer h2 a .cat-title {
	position: absolute;
	overflow: hidden;
	bottom: 0px;
	right:0px;
	padding: 70% 0% 0px 5%;
	width: 45%;
	height:40%;
	margin-right: -1px;
	line-height:100%;
	vertical-align: bottom;
	-webkit-backface-visibility: hidden;
	text-align: left;
	display: block;
	vertical-align: middle;
	-moz-transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	-ms-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-property: padding;
	-ms-transition-property: padding;
	-o-transition-property: padding;
	-moz-transition-property: padding;
	transition-property: padding;
}

.category-view .row-fluid:hover .category:hover .spacer h2 a .cat-title {
	padding: 70% 5% 0px 10%;
}

.category h2 {margin:0px;padding:0px;}

.category-view h4, .featured-view h4 { display: none; }

.pr-img-handler {
	position: relative;
	width: 100%;
	height; 100%;
}

.row-fluid .spacer .pr-img-handler .popout-price {
	opacity: 0;
	-moz-transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	-ms-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-property: opacity, top;
	-ms-transition-property: opacity, top;
	-o-transition-property: opacity, top;
	-moz-transition-property: opacity, top;
	transition-property: opacity, top;
	position: absolute;
	top: -50%;
	left: 50%;
	width:100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	margin-left: -50px;
	margin-top: -50px;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
}

.popout-price .PricesalesPrice {
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
}

.row-fluid .spacer:hover .pr-img-handler .popout-price {
	opacity: 1;
	top: 50%;
	left: 50%;
}


.product-field-display select { width: 100%; }

/* ZOOM IMAGES */
.zoomPad{
	position:relative;
	z-index:99;
	cursor:crosshair;
}

.zoomPreload{
   -moz-opacity:0.8;
   opacity: 0.8;
   filter: alpha(opacity = 80);
   color: #333;
   font-size: 12px;
   font-family: Tahoma;
   text-decoration: none;
   border: 1px solid #CCC;
   background-color: white;
   padding: 8px;
   text-align:center;
   background-image: url(../images/zoomloader.gif);
   background-repeat: no-repeat;
   background-position: 43px 30px;
   z-index:110;
   width:90px;
   height:43px;
   position:absolute;
   top:0px;
   left:0px;
    * width:100px;
    * height:49px;
}

.zoomPup{
	overflow:hidden;
	background-color: #FFF;
	-moz-opacity:0.6;
	opacity: 0.6;
	filter: alpha(opacity = 60);
	z-index:120;
	position:absolute;
	border:1px solid #CCC;
	z-index:101;
	cursor:crosshair;
}

.zoomPup img {
	max-width: none !important;
}

.zoomOverlay{
	position:absolute;
	left:0px;
	top:0px;
	background:#FFF;
	/*opacity:0.5;*/
	z-index:5000;
	width:100%;
	height:100%;
	display:none;
	z-index:101;
}

.zoomWindow{
	position:absolute;
	left:110%;
	top:40px;
	background:#FFF;
	z-index:6000;
	height:auto;
	z-index:10000;
	z-index:110;
	-webkit-box-shadow: 0px 2px 15px rgba(0,0,0,.5);
	-moz-box-shadow: 0px 2px 15px rgba(0,0,0,.5);
	box-shadow: 0px 2px 15px rgba(0,0,0,.5);
}
.zoomWrapper{
	position:relative;
	z-index:110;
}
.zoomWrapperTitle{
	display:block;
	background:#999;
	color:#FFF;
	height:18px;
	line-height:18px;
	width:100%;
	overflow:hidden;
	text-align:center;
	font-size:10px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:120;
	-moz-opacity:0.6;
	opacity: 0.6;
	filter: alpha(opacity = 60);
}
.zoomWrapperImage{
	display:block;
	position:relative;
	overflow:hidden;
	z-index:110;

}
.zoomWrapperImage img{
	border:0px;
	display:block;
	position:absolute;
	z-index:101;
	max-width: none !important;
}

.zoomIframe{
	z-index: -1;
	filter:alpha(opacity=0);
	-moz-opacity: 0.80;
	opacity: 0.80;
	position:absolute;
	display:block;
}
